.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dfdfdf;
  background-color: #fff;
  height: 70px;
  padding: 0 200px;
}

.login-button {
  display: inline-flex;
  background-color: #3692ff;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 19.09px;
  padding: 12px 20px;
  border-radius: 8px;
  gap: 10px;
}

.loginBtn:hover {
  background-color: #1967d6;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.top-banner {
  height: 540px;
  display: flex;
  align-items: center;
  background: #cfe5ff url("../img/home/hero-image.png") no-repeat 74% bottom /
    50%;
}

.trade {
  max-width: 357px;
  font-size: 40px;
  line-height: 56px;
  color: #374151;
}

.watch {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  color: #fff;
  min-width: 357px;
  padding: 20px;
  border-radius: 40px;
  background-color: #3692ff;
  display: inline-flex;
  justify-content: center;
  margin-top: 32px;
}

.watch:hover {
  background-color: #1967d6;
}

.product-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.product {
  display: flex;
  align-items: center;
  padding: 138px 0;
  gap: 64px;
}

.product-details {
  flex: 1;
}

.product:nth-child(2) {
  text-align: right;
}

.product-content-tag {
  font-size: 18px;
  font-weight: 700;
  line-height: 25.2px;
  color: #3692ff;
}

.product-content-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  color: #374151;
}

.product-content-description {
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
  color: #374151;
  letter-spacing: 8%;

  margin-top: 24px;
}

.bottom-banner {
  height: 540px;
  display: flex;
  align-items: center;
  background: #cfe5ff url("../img/home/bottom-banner-image.png") no-repeat 74%
    bottom / 50%;
}

.bottom-banner-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  color: #374151;
}

.footer {
  padding: 32px 200px 108px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111827;
}

.footer-copyright {
  display: flex;
  color: #9ca3af;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.09px;
}

.footer-links-wrapper {
  display: flex;
  column-gap: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.09px;
}

.footer-links {
  color: #e5e7eb;
}

.footer-social-icon {
  display: flex;
  column-gap: 12px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header {
    padding: 0 24px;
  }

  .top-banner {
    background-position: center bottom;
    background-size: contain;
    height: 90vh;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
  }

  .trade {
    max-width: 532px;
  }

  .br-tag {
    display: none;
  }

  .product-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .product {
    flex-direction: column;
    padding: 24px;
    align-items: baseline;
  }

  .product:nth-child(2) {
    align-items: end;
  }

  .product-image img {
    width: 100%;
    height: 100%;
  }

  .product-content-tag {
    line-height: 25px;
    font-size: 18px;
  }

  .product-content-title {
    font-size: 32px;
    line-height: 44px;
  }

  .product-content-description {
    font-size: 18px;
    padding-bottom: 20px;
    font-weight: 500;
    line-height: 21px;
  }

  .search-product {
    order: 2;
  }

  .search-image {
    order: 1;
  }

  .bottom-banner {
    background-size: contain;
    background-position: center bottom;
    height: 90vh;
  }

  .bottom-banner-title {
    margin-bottom: 200px;
    text-align: center;
    font-size: 40px;
  }

  .footer {
    padding: 32px 104px 64px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 0 16px;
  }

  .top-banner {
    background-size: contain;
    background-position: center bottom;
    height: 60vh;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .trade {
    max-width: 250px;
    font-size: 32px;
    line-height: 44px;
  }

  .watch {
    padding: 16px 20px;
    font-size: 16px;
    line-height: 19px;
    min-width: 154px;
    margin-top: 20px;
    margin-bottom: 70px;
  }

  .br-tag {
    display: none;
  }


  .product-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product {
    flex-direction: column;
    padding: 16px;
    align-items: baseline;
  }

  .product:nth-child(2) {
    align-items: end;
  }

  .product-image img {
    width: 100%;
    height: 100%;
  }

  .product-content-tag {
    font-size: 16px;
  }

  .product-content-title {
    font-size: 24px;
  }

  .product-content-description {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 16px;
  }

  .search-product {
    order: 2;
  }

  .search-image {
    order: 1;
  }

  .bottom-banner {
    background-size: contain;
    background-position: center bottom;
    height: 60vh;
  }

  .bottom-banner-title {
    margin-bottom: 200px;
    text-align: center;
    font-size: 32px;
  }

  .footer {
    padding: 32px;
    display: flex;
    justify-content: space-between;
    row-gap: 60px;
    flex-wrap: wrap;
    align-items: center;
  }

  .footer-copyright {
    order: 2;
  }
}
