.signup-container {
  max-width: 640px;
  margin: 0 auto;
}

.signup-logo-wrapper {
  display: block;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
}

.signup-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.signup-input-label {
  font-weight: 700;
  font-size: 18px;
  line-height: 21.48px;
  color: #1f2937;
  margin-bottom: 16px;
}

.signup-input-field-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.signup-input-field {
  border-radius: 12px;
  border: none;
  background-color: #f3f4f6;
  padding: 16px 24px;
  line-height: 24px;
  width: 100%;
}

.signup-input-field:focus {
  outline-color: var(--blue);
}

.signup-input-field::placeholder {
  font-size: 16px;
  line-height: 24px;
  color: #9ca3af;
}

.signup-input-eye-icon {
  position: absolute;
  cursor: pointer;
  right: 24px;
}

.signup-button {
  width: 100%;
  border-radius: 40px;
  max-width: 640px;
  padding: 20px;
  border: none;
  background-color: #9ca3af;
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}

.social-signup-container {
  width: 100%;
  border-radius: 8px;
  background-color: #e6f2ff;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
}

.social-signup-label {
  font-size: 16px;
  line-height: 24px;
  color: #1f2937;
  font-weight: 500;
}

.social-signup-icon-wrapper {
  display: flex;
  column-gap: 16px;
}

.signup-login {
  text-align: center;
  margin-top: 24px;
  column-gap: 4px;
}

.signup-login-text {
  font-weight: 500;
  font-size: 15px;
  line-height: 17.9px;
  color: #1f2937;
}

.signup-login-link {
  font-weight: 500px;
  font-size: 15px;
  line-height: 17.9px;
  color: #3182f6;
  text-decoration: underline;
}
