.login-container {
  max-width: 640px;
  margin: 0 auto;
}

.login-logo-wrapper {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
}

.login-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.login-input-label {
  font-weight: 700;
  font-size: 18px;
  line-height: 21.48px;
  color: #1f2937;
  margin-bottom: 16px;
}

.email-label {
  width: fit-content;
}

.password-label {
  width: fit-content;
}

.login-input-field-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.login-input-field {
  border-radius: 12px;
  border: none;
  background-color: #f3f4f6;
  padding: 16px 24px;
  line-height: 24px;
  width: 100%;
}

.password-field {
  padding: 16px 50px 16px 24px;
}

.login-input-field:focus {
  outline-color: var(--blue);
}

.login-input-field::placeholder {
  font-size: 16px;
  line-height: 24px;
  color: #9ca3af;
}

.login-input-eye-icon-wrapper {
  border: none;
}

.login-input-eye-icon {
  position: absolute;
  cursor: pointer;
  right: 24px;
  top: 16px;
}

.login-button {
  width: 100%;
  border-radius: 40px;
  padding: 20px;
  border: none;
  background-color: #9ca3af;
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}

.social-login-container {
  width: 100%;
  border-radius: 8px;
  background-color: #e6f2ff;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
}

.social-login-label {
  font-size: 16px;
  line-height: 24px;
  color: #1f2937;
  font-weight: 500;
}

.social-login-icon-wrapper {
  display: flex;
  column-gap: 16px;
}

.login-signup {
  text-align: center;
  margin-top: 24px;
  column-gap: 4px;
}

.login-signup-text {
  font-weight: 500;
  font-size: 15px;
  line-height: 17.9px;
  color: #1f2937;
}

.login-signup-link {
  font-weight: 500px;
  font-size: 15px;
  line-height: 17.9px;
  color: #3182f6;
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  .login-container {
    max-width: 400px;
    width: 100%;
    padding: 0 16px;
    row-gap: 16px;
  }

  .login-logo-image {
    width: 198px;
    height: 66px;
  }
}
