.login-container {
  max-width: 640px;
  margin: 0 auto;
}

.login-logo-wrapper {
  display: block;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
}

.login-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.login-input-label {
  font-weight: 700;
  font-size: 18px;
  line-height: 21.48px;
  color: #1f2937;
  margin-bottom: 16px;
}

.login-input-field-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.login-input-field {
  border-radius: 12px;
  border: none;
  background-color: #f3f4f6;
  padding: 16px 24px;
  width: 100%;
}

.login-input-field::placeholder {
  font-size: 16px;
  line-height: 24px;
  color: #9ca3af;
}

.login-input-eye-icon {
  position: absolute;
  cursor: pointer;
  right: 24px;
}

.login-button {
  width: 100%;
  border-radius: 40px;
  max-width: 640px;
  padding: 20px;
  border: none;
  background-color: #9ca3af;
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}
