@import "@/styles/import.scss";

.dropdown {
  @include Size(130px, 42px);
  position: relative;
  display: inline-block;
  padding: 12px 20px;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  background-color: $color-white;
}

.dropdownHeader {
  @include Flex(row, space-between, center);
  cursor: pointer;
  @include Size(90px, 18px);
}

.dropdown-option {
  @include Flex(row, center, center);
  @include Size(100%, 24px);
  @include Font(16px, 400, $color-gray-900);
}

.dropdownList {
  @include Flex(column, center, center);
  @include Size(130px, auto);
  padding: 8px 0;
  position: absolute;
  top: 100%;
  left: 0;
  border: 1px solid #e5e7eb;
  border-radius: 12px 12px 12px 12px;
  background-color: $color-white;
  text-align: center;
}

.dropdownListItem {
  @include Font(16px, 400, $color-gray-800);
  @include Size(56px, 26px);
  cursor: pointer;
  line-height: 26px;
}
