@import "@/styles/import.scss";

.container {
  max-width: 1920px;
  padding-top: 24px;
}

.title {
  @include Font(20px, 700, $color-gray-900);
}

.best-post-wrapper {
  @include Flex(row, space-between, center);
  width: 1200px;
}

@media screen and (max-width: $width-max-tablet) {
  .best-post-wrapper {
    width: 100%;
    gap: 16px;
  }
}
