@import "@/styles/import.scss";

.container {
  padding-top: 24px;
}

.title {
  @include Font(20px, 700, $color-gray-900);
}

.best-post-wrapper {
  @include Flex(row, space-between, center);
  width: 1200px;

  & > * {
    display: block;
  }
}

@media screen and (max-width: $width-max-tablet) {
  .best-post-wrapper {
    width: 100%;
    gap: 16px;

    & > *:nth-child(3) {
      display: none;
    }
  }
}

@media screen and (max-width: $width-max-mobile) {
  .best-post-wrapper {
    & > *:nth-child(2),
    & > *:nth-child(3) {
      display: none;
    }
  }
}
