.best-item-container {
  max-width: 1200px;
  width: 100%;
  padding: 24px 0 16px;
  margin: 0 auto;
}

.best-item-label {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: #111827;
}

.best-item-list-container {
  display: flex;
  flex-direction: row;
  column-gap: 24px;
}

.best-item-list-wrapper {
  display: flex;
  flex-direction: column;
}

.best-item-list-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #1f2937;
}

.best-item-list-price {
  font-size: 16px;
  line-height: 19px;
  color: #1f2937;
  padding: 6px 0 6px;
}

.best-item-list-like-wrapper {
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.best-item-list-like-count {
  font-size: 12px;
  font-weight: 500;
  color: #4b5563;
}
