.add-item-image-input-wrapper {
  display: flex;
  flex-direction: column;
}

.add-item-image-input-label {
  font-size: 18px;
  font-weight: 700;
  color: #1f2937;
  padding-bottom: 12px;
}

.add-item-image-input-file-wrapper {
  display: flex;
}

.add-item-image-input {
  width: 282px;
  height: 282px;
  border-radius: 12px;
  background-color: #f3f4f6;
  border: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.add-item-image-input-none {
  width: 282px;
  height: 282px;
  border-radius: 12px;
  background-color: #f3f4f6;
  border: none;
  display: none;
}

.add-item-image-input-icon-label {
  font-size: 16px;
  font-weight: 400;
  color: #9ca3af;
}

.add-item-image-input-preview-wrapper {
  display: flex;
  position: relative;
}

.add-item-image-input-preview {
  object-fit: contain;
  margin-left: 24px;
  border-radius: 12px;
}

.add-item-image-input-cancel-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #3962ff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .add-item-image-input {
    width: 162px;
    height: 162px;
  }

  .add-item-image-input-preview {
    width: 162px;
    height: 162px;
  }
}

@media screen and (max-width: 767px) {
  .add-item-image-input {
    width: 168px;
    height: 168px;
  }

  .add-item-image-input-preview {
    width: 168px;
    height: 168px;
  }
}
