.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  column-gap: 47px;
  padding: 0 200px;
  height: 70px;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #dfdfdf;
  background-color: #fff;
}

.header-logo {
  width: 153px;
  height: 51px;
}

.header-list-wrapper {
  column-gap: 41px;
  display: flex;
  flex-grow: 1;
}

.header-list {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  color: #4b5563;
}

.header-list-market-active {
  color: #3692ff;
}

.header-login-button {
  background-color: #3692ff;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  padding: 12px 20px;
  border-radius: 8px;
  gap: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-container {
    padding: 0 34px;
  }
}

@media screen and (max-width: 767px) {
  .header-container {
    padding: 0 16px;
    column-gap: 15px;
  }

  .header-list-wrapper {
    column-gap: 8px;
  }

  .header-list {
    display: inline-block;
  }

  .header-login-button {
    display: inline-block;
  }

  .header-list {
    font-size: 16px;
  }

  .header-logo {
    width: auto;
    height: auto;
  }
}
