* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

img {
  display: block;
}

button {
  border: none;
  cursor: pointer;
}

.item-container {
  padding: 0 360px;
  width: 100%;
}
