@import "@/styles/import.scss";

.logo {
  @include Size(153px, 51px);
}

@media screen and (max-width: $width-max-mobile) {
  .container {
    padding: 0 16px;
    column-gap: 15px;
  }

  .item {
    column-gap: 8px;
  }

  .item-list {
    display: inline-block;
  }

  .header-list {
    font-size: 16px;
  }

  .logo {
    @include Size(auto, auto);
  }
}
