$color-board-card-background: #f9fafb;
$color-blue-button: #3692ff;
$color-border-bottom: #dfdfdf;
$color-bg-comment: #fcfcfc;

$color-white: #fff;

$color-gray-50: #f9fafb;
$color-gray-100: #f3f4f6;
$color-gray-200: #e5e7eb;
$color-gray-400: #9ca3af;
$color-gray-500: #6b7280;
$color-gray-600: #4b5563;
$color-gray-800: #1f2937;
$color-gray-900: #111827;
